@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  color: #213547;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.content-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-y: hidden;
}

.left-pannel {
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  top: 0;
}

.right-pannel {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}
